# Configuration file for b0svt05 crate
#
# Format:
# <number> MRG|AMS|HB|HF
# (number is the slot number)
# Every line not matching the above format will be ignored.
#
# Well, the exact format is defined by this regular expression:
# "^(\d+)\s+(MRG|AMS|HB|HF)"
#
4 HF
5 HF
6 HF
7 MRG
8 AMS
12 HB
13 HF
14 HF
15 HF
16 MRG
17 AMS
21 HB
